.p-datatable .p-datatable-header {
    padding: 0.5rem 0.5rem !important;
    background-color: rgb(229 231 235) !important;
}

.p-multiselect .p-multiselect-label {
    padding: 0.15rem 0.15rem !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.p-multiselect-trigger svg.p-icon {
    padding: 0.15rem 0.15rem !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.p-multiselect-panel .p-multiselect-header {
    background-color: rgb(229 231 235) !important;
    color: rgb(31 41 55) !important;
    background-color: rgb(229 231 235) !important;
    border-width: 1px !important;
}

.p-multiselect-panel .p-multiselect-items li:nth-child(odd) {
    background-color: rgb(229 231 235) !important;
    border-width: 1px !important;
    border-color: rgb(209 213 219) !important;
    font-size: 12px !important;
    color: rgb(31 41 55) !important;
}

.p-multiselect-panel .p-multiselect-items li:nth-child(even) {
    background-color: rgb(209 213 219) !important;
    border-width: 1px !important;
    border-color: rgb(209 213 219) !important;
    font-size: 12px !important;
    color: rgb(31 41 55) !important;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext:focus {
    outline: none !important;
    box-shadow: none !important;
}

.p-datatable thead tr th .p-inputtext {
    padding-left: 5px !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.5rem 0.5rem !important;
}

.p-datatable tbody tr:nth-child(odd) {
    background-color: rgb(229 231 235) !important;
    border-width: 1px !important;
    border-color: rgb(209 213 219) !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    color: rgb(31 41 55) !important;
}

.p-datatable tbody tr:nth-child(even) {
    background-color: rgb(209 213 219) !important;
    border-width: 1px !important;
    border-color: rgb(209 213 219) !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    color: rgb(31 41 55) !important;
}

.p-autocomplete {
    width: 100% !important;
}

.p-autocomplete input {
    width: 100% !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    appearance: none !important;
    border-width: 1px !important;
    border-radius: 0.25rem !important;
    color: rgb(55 65 81) !important;
    line-height: 1.25 !important;
}

.p-calendar {
    width: 100% !important;
}

.p-calendar .p-inputtext {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    appearance: none !important;
    border-width: 1px !important;
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    color: rgb(55 65 81) !important;
    line-height: 1.25 !important;
}

.p-button.p-button-icon-only {
    background-color: rgb(6 182 212) !important;
}

.p-button.p-button-icon-only:focus {
    outline: none !important;
    box-shadow: none !important;
}

.p-autocomplete input:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
}

/* .swal2-container.swal2-center>.swal2-popup {
    width: 450px !important;
    height: 300px !important;
} */

.swal2-icon.swal2-question.swal2-icon-show {
    width: 60px !important;
    height: 60px !important;
    font-size: 25px !important;
    margin: 1em auto 0 !important;
}

.swal2-icon .swal2-icon-content {
    font-size: 1.7em !important;
}

.swal2-title {
    padding: 0 0.5em 0 !important;
}

.swal2-html-container {
    margin: 0.5em 0.6em .3em !important;
}

.swal2-actions {
    margin: 0.5em auto 0 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;